################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheConnectomeCPlus/TheConnectomeCPlus.VC.db
*.opendb
